@import 'tailwindcss';
@import '../design-token/css/_variable.css';

@theme {
  --color-primary-soil-50: var(--primary-soil-50);
  --color-primary-soil-100: var(--primary-soil-100);
  --color-primary-soil-200: var(--primary-soil-200);
  --color-primary-soil-300: var(--primary-soil-300);
  --color-primary-soil-400: var(--primary-soil-400);
  --color-primary-soil-500: var(--primary-soil-500);
  --color-primary-soil-600: var(--primary-soil-600);
}